<h1>Rails Form Examples</h1>

<form accept-charset="UTF-8" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">User Name</label>
  <input type="text" name="user[username]"> <br/>
  <label for="email">E-mail </label>
  <input type="email" name="user[email]"> <br/>
  <label for="password">Password</label>
  <input type="password" name="user[password]">
  <input type="submit" value="Submit this form" >
</form>